<!DOCTYPE html>

<head>
    <title>.atarimae // Workflow</title>
    <style type="text/css">
        body {
            background-color: #b99e8b;
            margin: 0;
        }

        .main {
            width: 80%;
            margin: auto;
            background-color: #f9f6f4;
            padding: 5px;
        }

        .logo-image {
            padding: 50px 0;
        }

        .logo-image img {
            width: 100%;
            height: 100%;
        }

        .center-box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .main-title {
            font-size: 40px;
            font-weight: 600;
            color: #5b493b;
            font-family: "Gotham-Bold", Arial, Helvetica, sans-serif;
            text-transform: uppercase;
        }

        @font-face {
            font-family: "Gotham-Bold";
            src:
                local("Gotham-Bold"),
                url("./Gotham-Bold.otf") format("opentype");
        }

        @font-face {
            font-family: "Gotham-Book";
            src:
                local("Gotham-Book"),
                url("./Gotham-Book.otf") format("opentype");
        }

        @font-face {
            font-family: "Gotham-Medium";
            src:
                local("Gotham-Medium"),
                url("./Gotham-Medium.otf") format("opentype");
        }

        .content-box {
            margin: 60px auto;
            width: 75%;
        }

        .data-input {
            width: 100%;
            border-radius: 16px;
            color: #242c32;
            height: 1.8rem;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            letter-spacing: 0.05em;
            font-size: 0.875rem;
            line-height: 1.25rem;
            text-align: center;
            border-style: none;
            border: 1px solid #fff;
            padding: 0.5rem 0.75rem;
            font-family: "Gotham-Bold", Arial, Helvetica, sans-serif;
            outline: none;
        }

        .data-input:focus {
            border-color: #1C64F2;
        }

        .my-5 {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .date-box {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .w-full {
            width: 100%;
        }

        .d-flex {
            display: flex;
        }

        .detail-box {
            width: 100%;
            border-radius: 16px;
            color: #242c32;
            height: 100%;
            box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
            border-style: none;
            padding: 2rem 1.8rem 0.8rem 2rem;
            background-color: white;
            display: table-cell;
        }

        .detail-text {
            color: #242c32;
            font-family: "Gotham-Book", Arial, Helvetica, sans-serif;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 1.25rem;
        }

        .detail-note-text {
            color: #d9d8d9;
            font-family: "Gotham-Medium", Arial, Helvetica, sans-serif;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 1.25rem;
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 1rem;
        }

        .tip-text {
            color: #5b493b;
            font-family: "Gotham-Bold", Arial, Helvetica, sans-serif;
            font-size: 16px;
            line-height: 2rem;
            text-align: center;
            margin: 1.5rem auto;
        }

        .justify-center {
            justify-content: center;
        }

        .items-center {
            align-items: center;
        }

        .job-folder-button {
            background-color: #b99e8b;
            color: white;
            font-size: 16px;
            width: 200px;
            height: 45px;
            border: none;
            border-radius: 16px;
            font-family: 'Gotham-Book', Arial, Helvetica, sans-serif;
            letter-spacing: 2px;
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }

        .updated-text {
            color: #9b57a3 !important;
        }

        .paid-text {
            color: #939598 !important;
        }

        .form-box {
            margin: 25px 0;
        }

        .form-item {
            padding-top: 10px;
        }

        .form-item label {
            color: #5b493b;
            font-size: 16px;
            font-family: "Gotham-Bold", Arial, Helvetica, sans-serif;
        }

        .form-item span {
            color: #000;
            font-size: 16px;
            font-family: "Gotham-Book", Arial, Helvetica, sans-serif;
        }

        .mt-20 {
            margin-top: 80px;
        }

        .text-black {
            color: black !important;
        }

        .relative {
            position: relative;
        }

        .absolute {
            position: absolute;
        }

        .calendar-icon {
            right: 10px;
            top: 11px;
        }

        .text-center {
            text-align: center;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="w-full text-center">
            <img src="https://storage.googleapis.com/atarimaeagency/assets/workflowLogo.png" alt="logo"
                style="padding: 50px 0; width: 50%; height: 100%;" />
        </div>

        <div class="w-full text-center">
            <div class="main-title">
                Talent Invoice Request
            </div>
        </div>

        <div class="content-box">
            <div>
                <div class="form-box">
                    <div class="form-item">
                        <label>Talent: </label>
                        <span>
                            <%= result.talent.name %>
                        </span>
                    </div>
                </div>

                <div class="form-box">
                    <div class="form-item">
                        <label>Invoice To: </label>
                        <span>
                            <%= result.companyName %>
                        </span>
                    </div>
                    <div class="form-item">
                        <label>ABN: </label>
                        <span>
                            <%= result.abn %>
                        </span>
                    </div>
                    <div class="form-item">
                        <label>Company Address: </label>
                        <span>
                            <%= result.companyAddress %>
                        </span>
                    </div>
                </div>

                <div class="form-box">
                    <div class="form-item">
                        <label>Contact Name: </label>
                        <span>
                            <%= result.contactDetails.name %>
                        </span>
                    </div>
                    <div class="form-item">
                        <label>E-Mail: </label>
                        <span>
                            <%= result.contactDetails.email %>
                        </span>
                    </div>
                </div>

                <div class="form-box">
                    <div class="form-item">
                        <label>Campaign Name: </label>
                        <span>
                            <%= result.campaign.name %>
                        </span>
                    </div>
                    <div class="form-item">
                        <label>Campaign Date: </label>
                        <span>
                            <%= result.campaign.date %>
                        </span>
                    </div>
                    <div class="form-item">
                        <label>Campaign Deliverables: </label>
                        <span>
                            <%= result.campaign.deliverables %>
                        </span>
                    </div>
                </div>

                <div class="form-box">
                    <div class="form-item">
                        <label>Expenses: </label>
                        <span>
                            <%= result.expenses %>
                        </span>
                    </div>
                    <div class="form-item">
                        <label>PO: </label>
                        <span>
                            <%= result.poNumber %>
                        </span>
                    </div>
                    <div class="form-item">
                        <label>Fee $: </label>
                        <span>
                            <%= result.fee %>
                        </span>
                    </div>
                    <div class="form-item">
                        <label>GST 10%: </label>
                        <span>
                            <%= result.gst ? "Yes" : "No" %>
                        </span>
                    </div>
                    <div class="form-item">
                        <label>ASP: </label>
                        <span>
                            <%= result.asp ? "Yes" : "No" %>
                        </span>
                    </div>

                    <div class="form-item">
                        <label>Commission: </label>
                        <span>
                            <%= result.commission %>
                        </span>
                    </div>
                    <div class="form-item">
                        <label>Payment Terms: </label>
                        <span>
                            <%= result.paymentTerms %>
                        </span>
                    </div>
                </div>
            </div>

            <div class="d-flex justify-center items-center">
                <span class="tip-text">
                    A copy of the brief, contract and any supporting files are in the job folder in your share drive.
                    <br />
                    You can access the job folder in your share drive in the link below
                </span>
            </div>

            <div class="w-full text-center d-flex justify-center items-center">
                <a class="job-folder-button" target="_blank"
                    style="justify-content: center !important; align-items: center !important;"
                    href="https://console.cloud.google.com/storage/browser/atarimaeagency;tab=objects?forceOnBucketsSortingFiltering=true&project=verdant-oven-438907-b1&prefix=&forceOnObjectsSortingFiltering=false">Job
                    Folder</a>
            </div>

            <div class="w-full text-center">
                <span class="tip-text text-black">
                    Don't forget to change the status of the job once invoiced
                </span>
            </div>
        </div>
    </div>
</body>