<!DOCTYPE html>

<head>
    <title>.atarimae // Workflow</title>
    <style type="text/css">
        @import url('https://fonts.googleapis.com/css?family=Roboto');

        body {
            background-color: #b99e8b;
            margin: 0;
            font-family: "Gotham-Book", arial, Helvetica, sans-serif;
        }

        .main {
            width: 80%;
            margin: auto;
            background-color: #f9f6f4;
            padding: 5px;
        }

        .center-box {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .main-title {
            font-size: 40px;
            font-weight: 600;
            color: #5b493b;
            font-family: "Gotham-Bold", arial, Helvetica, sans-serif;
            text-transform: uppercase;
        }

        @font-face {
            font-family: "Gotham-Bold";
            src: url("https://storage.googleapis.com/atarimaeagency/assets/Gotham-Bold.otf") format("opentype");
        }

        @font-face {
            font-family: "Gotham-Book";
            src:
                local("Gotham-Book"),
                url("https://storage.googleapis.com/atarimaeagency/assets/Gotham-Book.otf") format("opentype");
        }

        @font-face {
            font-family: "Gotham-Medium";
            src:
                local("Gotham-Medium"),
                url("https://storage.googleapis.com/atarimaeagency/assets/Gotham-Medium.otf") format("opentype");
        }

        .content-box {
            margin: 60px auto;
            width: 75%;
        }

        .data-input:focus {
            border-color: #1C64F2;
        }

        .my-5 {
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .mb-10 {
            margin-bottom: 40px;
        }

        .date-box {
            display: flex;
            justify-content: space-between;
            gap: 20px;
        }

        .w-full {
            width: 100%;
        }

        .d-flex {
            display: flex;
        }

        .detail-text {
            color: #242c32;
            font-family: "Gotham-Book", arial, Helvetica, sans-serif;
            font-size: 1rem;
            letter-spacing: 0.8px;
            line-height: 1.25rem;
        }

        .detail-note-text {
            color: #d9d8d9;
            font-family: "Gotham-Medium", arial, Helvetica, sans-serif;
            font-size: 16px;
            letter-spacing: 0.05em;
            line-height: 1.25rem;
            text-align: center;
            margin-top: 1rem;
            width: 100%;
        }

        .tip-text {
            color: #5b493b;
            font-family: "Gotham-Bold", arial, Helvetica, sans-serif;
            font-size: 1.25rem;
            line-height: 1.25;
            font-weight: 700;
            text-align: center;
            margin: 1.5rem auto;
        }

        .bottom-tip {
            color: #242c32 !important;
        }

        .justify-center {
            justify-content: center;
        }

        .items-center {
            align-items: center;
        }

        .job-folder-button {
            background-color: #b99e8b;
            color: white;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 12px 45px;
            border: none;
            border-radius: 16px;
            letter-spacing: 1px;
            text-decoration: none;
            font-family: 'Gotham-Book', arial, Helvetica, sans-serif;
        }

        .add-calendar-button {
            color: white;
            display: flex;
            align-items: center;
            font-size: 1.25rem;
            font-weight: 700;
            padding: 13px 45px;
            border: none;
            border-radius: 16px;
            letter-spacing: 1px;
            font-family: 'Gotham-Book', arial, Helvetica, sans-serif;
            background-color: #242c32;
            margin: auto;
        }

        .updated-text {
            color: #9b57a3 !important;
        }

        .paid-text {
            color: #939598 !important;
        }

        .form-box {
            margin: 25px 0;
        }

        .form-item {
            padding-top: 10px;
        }

        .form-item label {
            color: #5b493b;
            font-size: 16px;
            font-family: "Gotham-Bold", arial, Helvetica, sans-serif;
        }

        .form-item span {
            color: #000;
            font-size: 16px;
            font-family: "Gotham-Bold", arial, Helvetica, sans-serif;
        }

        .mt-20 {
            margin-top: 80px;
        }

        .text-black {
            color: black !important;
        }

        .relative {
            position: relative;
        }

        .absolute {
            position: absolute;
        }

        .calendar-icon {
            right: 10px;
            top: 11px;
        }

        .add-calendar-box {
            margin-top: 30px;
            margin-bottom: 60px;
            text-align: center;
        }

        .text-center {
            text-align: center;
        }

        .detail-box {
            width: 100%;
            border-radius: 16px;
            color: #242c32;
            height: 100%;
            border-style: none;
            padding: 2rem 1.8rem;
            background-color: white;
        }

        .title-input {
            width: 100%;
            border-radius: 16px;
            color: #242c32;
            height: 1.8rem;
            letter-spacing: 0.05em;
            font-size: 1.25rem;
            line-height: 1.25rem;
            font-weight: 700;
            text-align: center;
            border-style: none;
            border: 1px solid #fff;
            padding: 0.5rem 0.75rem;
            font-family: 'Gotham-Bold', arial, Helvetica, sans-serif;
            outline: none;
        }

        .event-title {
            background: #9b8579;
        }

        .event-title-prefix,
        .event-title-name {
            letter-spacing: 0.05em;
            font-size: 1.25rem;
            line-height: 1.8rem;
        }

        .event-title-prefix {
            color: #232c31;
        }

        .event-title-name {
            color: white;
            margin-left: 8px;
        }

        .date-label {
            color: #9b8579;
            font-weight: 700;
            text-align: center;
            margin-top: 20px;
            font-size: 1rem;
        }

        .date-input {
            width: 100%;
            border-radius: 16px;
            color: #242c32;
            height: 1.8rem;
            letter-spacing: 0.05em;
            font-size: 1rem;
            line-height: 1.25rem;
            font-weight: 600;
            text-align: center;
            border-style: none;
            border: 1px solid #fff;
            padding: 0.5rem 0.75rem;
            font-family: 'Gotham-Bold', arial, Helvetica, sans-serif;
            outline: none;
        }
    </style>
</head>

<body>
    <div class="main">
        <div class="w-full text-center">
            <img src="https://storage.googleapis.com/atarimaeagency/assets/workflowLogo.png" alt="logo"
                style="padding: 50px 0; width: 50%; height: 100%;" />
        </div>

        <div class="w-full text-center">
            <div class="main-title">
                You have a new job
            </div>
        </div>

        <div class="content-box">
            <div class="w-full my-5 d-flex">
                <input type="text" class="title-input mb-10" value="<%= job?.jobName %>" readonly />
            </div>

            <% for(var i=0; i < summaryList.length; i++) { %>
                <div class="event-item">
                    <div class="w-full my-5 d-flex">
                        <div class="title-input event-title">
                            <span class="event-title-prefix">
                                <%if (summaryList[i]?.type==="social" ) { %>SOCIAL - <% } %>
                                        <%if (summaryList[i]?.type==="event" ) { %>EVENT - <% } %>
                            </span>
                            <span class="event-title-name">
                                <%= summaryList[i]?.jobTitle %>
                            </span>
                        </div>
                    </div>

                    <% if(summaryList[i]?.type==="social" ) { %>
                    <div style="display: flex;">
                        <div class="w-full" style="padding-right: 10px; text-align: center;">
                            <label for="conceptDate" class="date-label">Concept Due Date</label>
                            <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                <input type="text" readonly
                                    value="<%= new Date(summaryList[i]?.conceptDueDate).getDate() + '/' + (new Date(summaryList[i]?.conceptDueDate).getMonth() + 1) + '/' + new Date(summaryList[i]?.conceptDueDate).getFullYear() %>"
                                    class="date-input" name="conceptDate" />
                                <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                    class="absolute calendar-icon">
                                    <image href="./assets/calendar_month.svg" height="25" width="22" />
                                </svg>
                            </div>
                        </div>
                        <div class="w-full" style="padding-right: 10px; text-align: center;">
                            <label for="contentDate" class="date-label">Content Due Date</label>
                            <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                <input type="text" readonly
                                    value="<%= new Date(summaryList[i]?.contentDueDate).getDate() + '/' + (new Date(summaryList[i]?.contentDueDate).getMonth() + 1) + '/' + new Date(summaryList[i]?.contentDueDate).getFullYear() %>"
                                    class="date-input" name="contentDate" />
                                <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                    class="absolute calendar-icon">
                                    <image href="./assets/calendar_month.svg" height="25" width="22" />
                                </svg>
                            </div>
                        </div>

                        <div class="w-full" style="text-align: center;">
                            <label for="liveDate" class="date-label">Live Date</label>
                            <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                <input type="text" readonly
                                    value="<%= new Date(summaryList[i]?.liveDate).getDate() + '/' + (new Date(summaryList[i]?.liveDate).getMonth() + 1) + '/' + new Date(summaryList[i]?.liveDate).getFullYear() %>"
                                    class="date-input" name="liveDate" />
                                <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                    class="absolute calendar-icon">
                                    <image href="./assets/calendar_month.svg" height="25" width="22" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <% if(summaryList[i]?.type==="event" ) { %>
                    <div style="display: flex;">
                        <div class="w-full" style="padding-right: 10px; text-align: center;">
                            <label for="eventDate" class="date-label">Event Date</label>
                            <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                <input type="text" readonly 
                                    value="<%= new Date(summaryList[i]?.eventDate).getDate() + '/' + (new Date(summaryList[i]?.eventDate).getMonth() + 1) + '/' + new Date(summaryList[i]?.eventDate).getFullYear() %>"
                                    class="date-input" name="eventDate" />
                                <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                    class="absolute calendar-icon">
                                    <image href="./assets/calendar_month.svg" height="25" width="22" />
                                </svg>
                            </div>
                        </div>
                        <div class="w-full" style="padding-right: 10px; text-align: center;">
                            <label for="eventStartTime" class="date-label">Event Start Time</label>
                            <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                <input type="text" readonly value="<%= summaryList[i]?.eventStartTime %>"
                                    class="date-input" name="eventStartTime" />
                                <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                    class="absolute calendar-icon">
                                    <image href="./assets/schedule.svg" height="25" width="22" />
                                </svg>
                            </div>
                        </div>

                        <div class="w-full" style="text-align: center;">
                            <label for="eventEndTime" class="date-label">Event End Time</label>
                            <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                <input type="text" readonly value="<%= summaryList[i]?.eventEndTime %>"
                                    class="date-input" name="eventEndTime" />
                                <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                    class="absolute calendar-icon">
                                    <image href="./assets/schedule.svg" height="25" width="22" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <% if(summaryList[i]?.type === "media") { %>
                    <div style="display: flex;">
                        <div class="w-full" style="padding-right: 10px; text-align: center;">
                            <label for="startDate" class="date-label">Start Date</label>
                            <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                <input type="text" readonly 
                                    value="<%= new Date(summaryList[i]?.startDate).getDate() + '/' + (new Date(summaryList[i]?.startDate).getMonth() + 1) + '/' + new Date(summaryList[i]?.startDate).getFullYear() %>"
                                    class="date-input" name="startDate" />
                                <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                    class="absolute calendar-icon">
                                    <image href="./assets/calendar_month.svg" height="25" width="22" />
                                </svg>
                            </div>
                        </div>
                        <div class="w-full" style="text-align: center;">
                            <label for="endDate" class="date-label">End Date</label>
                            <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                <input type="text" readonly 
                                    value="<%= new Date(summaryList[i]?.endDate).getDate() + '/' + (new Date(summaryList[i]?.endDate).getMonth() + 1) + '/' + new Date(summaryList[i]?.endDate).getFullYear() %>"
                                    class="date-input" name="endDate" />
                                <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                    class="absolute calendar-icon">
                                    <image href="./assets/calendar_month.svg" height="25" width="22" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <% } %>

                    <% if(summaryList[i]?.type === "publishing") { %>
                    <div style="display: flex;">
                        <div class="w-full" style="padding-right: 10px; text-align: center;">
                            <label for="firstDraftDate" class="date-label">1st Draft Due Date</label>
                            <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                <input type="text" readonly 
                                    value="<%= new Date(summaryList[i]?.firstDraftDate).getDate() + '/' + (new Date(summaryList[i]?.firstDraftDate).getMonth() + 1) + '/' + new Date(summaryList[i]?.firstDraftDate).getFullYear() %>"
                                    class="date-input" name="firstDraftDate" />
                                <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                    class="absolute calendar-icon">
                                    <image href="./assets/calendar_month.svg" height="25" width="22" />
                                </svg>
                            </div>
                        </div>
                        <div class="w-full" style="text-align: center;">
                            <label for="secondDraftDate" class="date-label">2nd Draft Due Date</label>
                            <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                <input type="text" readonly 
                                    value="<%= new Date(summaryList[i]?.secondDraftDate).getDate() + '/' + (new Date(summaryList[i]?.secondDraftDate).getMonth() + 1) + '/' + new Date(summaryList[i]?.secondDraftDate).getFullYear() %>"
                                    class="date-input" name="secondDraftDate" />
                                <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                    class="absolute calendar-icon">
                                    <image href="./assets/calendar_month.svg" height="25" width="22" />
                                </svg>
                            </div>
                        </div>
                        <div class="w-full" style="text-align: center;">
                            <label for="finalDate" class="date-label">Final Due Date</label>
                            <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                <input type="text" readonly 
                                    value="<%= new Date(summaryList[i]?.finalDate).getDate() + '/' + (new Date(summaryList[i]?.finalDate).getMonth() + 1) + '/' + new Date(summaryList[i]?.finalDate).getFullYear() %>"
                                    class="date-input" name="finalDate" />
                                <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                    class="absolute calendar-icon">
                                    <image href="./assets/calendar_month.svg" height="25" width="22" />
                                </svg>
                            </div>
                        </div>
                    </div>
                    <div class="w-full my-5 d-flex">
                        <input type="text" class="title-input mb-10" value="<%= summaryList[i]?.publisher %>" readonly />
                    </div>
                    <% } %>

                    <% if(summaryList[i]?.type === "travel") { %>
                        <div style="display: flex;">
                            <div class="w-full" style="padding-right: 10px; text-align: center;">
                                <label for="departureDate" class="date-label">Departure Date</label>
                                <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                    <input type="text" readonly 
                                        value="<%= new Date(summaryList[i]?.departureDate).getDate() + '/' + (new Date(summaryList[i]?.departureDate).getMonth() + 1) + '/' + new Date(summaryList[i]?.departureDate).getFullYear() %>"
                                        class="date-input" name="departureDate" />
                                    <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                        class="absolute calendar-icon">
                                        <image href="./assets/calendar_month.svg" height="25" width="22" />
                                    </svg>
                                </div>
                            </div>
                            <div class="w-full" style="text-align: center;">
                                <label for="departureTime" class="date-label">Departure Time</label>
                                <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                    <input type="text" readonly 
                                        value="<%= new Date(summaryList[i]?.departureTime).getDate() + '/' + (new Date(summaryList[i]?.departureTime).getMonth() + 1) + '/' + new Date(summaryList[i]?.departureTime).getFullYear() %>"
                                        class="date-input" name="departureTime" />
                                    <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                        class="absolute calendar-icon">
                                        <image href="./assets/schedule.svg" height="25" width="22" />
                                    </svg>
                                </div>
                            </div>
                            <div class="w-full" style="text-align: center;">
                                <label for="arrivalDate" class="date-label">Arrival Date</label>
                                <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                    <input type="text" readonly 
                                        value="<%= new Date(summaryList[i]?.arrivalDate).getDate() + '/' + (new Date(summaryList[i]?.arrivalDate).getMonth() + 1) + '/' + new Date(summaryList[i]?.arrivalDate).getFullYear() %>"
                                        class="date-input" name="arrivalDate" />
                                    <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                        class="absolute calendar-icon">
                                        <image href="./assets/calendar_month.svg" height="25" width="22" />
                                    </svg>
                                </div>
                            </div>
                            <div class="w-full" style="text-align: center;">
                                <label for="arrivalTime" class="date-label">Arrival Time</label>
                                <div class="d-flex w-full" style="position: relative; margin-top: 12px;">
                                    <input type="text" readonly 
                                        value="<%= new Date(summaryList[i]?.arrivalTime).getDate() + '/' + (new Date(summaryList[i]?.arrivalTime).getMonth() + 1) + '/' + new Date(summaryList[i]?.arrivalTime).getFullYear() %>"
                                        class="date-input" name="arrivalTime" />
                                    <svg width="22" height="25" xmlns="http://www.w3.org/2000/svg"
                                        class="absolute calendar-icon">
                                        <image href="./assets/schedule.svg" height="25" width="22" />
                                    </svg>
                                </div>
                            </div>
                        </div>
                        <div style="display: flex;" class="my-5">
                            <div class="w-full" style="padding-right: 10px;">
                                <input type="text" class="title-input" style="text-align: center;" value="<%= summaryList[i]?.preferredCarrier %>" readonly />
                            </div>
                            <div class="w-full">
                                <input type="text" class="title-input" style="text-align: center;" value="<%= summaryList[i]?.frequentFlyerNumber %>" readonly />
                            </div>
                        </div>
                        <div style="display: flex;" class="my-5">
                            <div class="w-full" style="padding-right: 10px;">
                                <span class="date-label">
                                    Is client paying for travel: <% if(summaryList[i]?.clientPaying) { %> Yes <% } else { %> No <% } %>
                                </span>
                            </div>
                            <div class="w-full">
                                <input type="text" class="title-input" style="text-align: center;" value="<%= summaryList[i]?.carHireRequired %>" readonly />
                            </div>
                        </div>
                    <% } %>

                    <div class="date-label">Brief - Client brief in job folder in link bein link below
                    </div>

                    <div class="my-5 d-flex">
                        <div class="detail-box">
                            <% if(summaryList[i]?.type === "travel") { %>
                                <div class="detail-text"><%= summaryList[i]?.travelDetails %></div>
                            <% } else { %>
                                <div class="detail-text">
                                    <div>
                                        <%= summaryList[i]?.keyMessages %>
                                    </div>

                                    <% if(summaryList[i]?.deleverables !=="" ) { %>
                                        <div style="font-weight: 700; padding-top: 20px;">DELIVERABLES:
                                        </div>
                                        <div>
                                            <%= summaryList[i]?.deleverables %>
                                        </div>
                                    <% } %>
                                </div>
                            <% } %>
                        </div>
                    </div>

                    <div class="w-full add-calendar-box">
                        <button class="add-calendar-button">
                            <svg width="22" height="20" xmlns="http://www.w3.org/2000/svg"
                                style="margin-right: 10px;">
                                <image href="./assets/add-calendar_month.svg" height="25" width="22" />
                            </svg>
                            Add to Calendar
                        </button>
                    </div>
                </div>
                <% } %>

                    <div class="mt-20">
                        <div class="tip-text bottom-tip">
                            <div>If you have any questions please contact your manager</div>
                            <div style="font-size: 2.5rem !important; margin-top: 12px; margin-bottom: 8px;">
                                <%= job?.talent?.manager %>
                            </div>
                            <div>on <%= job?.talent?.phoneNumber %>
                                    <% if(job?.talent?.phoneNumber !=="" ) { %> or <% } %>
                                            <%= job?.talent?.email %>
                            </div>
                        </div>
                        <div class="w-full text-center">
                            <img src="https://storage.googleapis.com/atarimaeagency/assets/workflowLogo.png" alt="logo"
                                style="height: 25px;" />
                        </div>
                    </div>
        </div>
    </div>

    <script>
        const generateICSFile = (events) => {
          let icsContent = "BEGIN:VCALENDAR\nVERSION:2.0\nCALSCALE:GREGORIAN\n";
    
          events.forEach((event) => {    
            // Format the date to iCalendar format (yyyyMMddTHHmmssZ)
            let start = ""; 
            let end = "";
            if(event?.type === "event") {
                const eventDate = new Date(event?.eventDate).toISOString().replace(/[-:]/g, '').split('.')[0];
                start = eventDate + " " + event?.eventStartTime;
                end = eventDate + " " + event?.eventEndTime;
            }
            if(event?.type === "social") {

            }
            const startDate = new Date(start);
            const endDate = new Date(end);
            const description = event?.keyMessages + "\n" + "DELIVERABLES: " + "\n" + event?.deleverables;
    
            icsContent += `BEGIN:VEVENT\n`;
            icsContent += `SUMMARY:${event?.jobTitle}\n`;
            icsContent += `DTSTART:${startDate}\n`;
            icsContent += `DTEND:${endDate}\n`;
            icsContent += `DESCRIPTION:${description}\n`;
            icsContent += `LOCATION:Online\n`; // Customize location as needed
            icsContent += `STATUS:CONFIRMED\n`;
            icsContent += `BEGIN:VALARM\nTRIGGER:-PT15M\nDESCRIPTION:Reminder for ${event?.jobTitle}\nACTION:DISPLAY\nEND:VALARM\n`;
            icsContent += `END:VEVENT\n`;
          });
    
          icsContent += "END:VCALENDAR";
    
          const blob = new Blob([icsContent], { type: 'text/calendar' });
          const url = URL.createObjectURL(blob);
          return url;
        };
    
        document.querySelectorAll('.add-calendar-button').forEach(button => {
          button.addEventListener('click', function() {
            const event = JSON.parse(this.getAttribute('data-event'));
    
            const icsFileUrl = generateICSFile([event]);
            const link = document.createElement('a');
            link.href = icsFileUrl;
            link.download = `${event.title}.ics`;
            link.click();
          });
        });
      </script>
</body>